.ak-hallo span{
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.ak-name span{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
}

.ak-profession span{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.ak-text{
    font-size: 18px;
    color: #fff;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}